<div class="tab-content" sticky-state="root.bootstrap.welcome"  ng-hide="state.current.name.lastIndexOf('root.bootstrap.welcome') === -1" ui-view="welcomeTab"></div>
<div class="tab-content" sticky-state="root.bootstrap.main"  ng-hide="state.current.name.lastIndexOf('root.bootstrap.main') === -1" ui-view="mainTab"></div>
<div class="tab-content" sticky-state="root.bootstrap.main.controlPanel"  ng-hide="state.current.name.lastIndexOf('root.bootstrap.main.controlPanel') === -1" ui-view="controlPanelTab"></div>
<div class="tab-content" sticky-state="root.bootstrap.main.dummyList"  ng-hide="state.current.name.lastIndexOf('root.bootstrap.main.dummyList') === -1" ui-view="dummyListTab"></div>
<div class="tab-content" sticky-state="root.bootstrap.main.dummyInsert"  ng-hide="state.current.name.lastIndexOf('root.bootstrap.main.dummyInsert') === -1" ui-view="dummyInsertTab"></div>

<footer class="footer">
    <span>&copy; Copyright 2016 CleFra</span>
</footer>