<nav id="main-nav" class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <div class="navbar-brand"><a class="text-header"></a></div>
    </div>
    <ul class="nav navbar-nav navbar-center" >
      <li ui-sref-active="active"><a ui-sref="root.bootstrap.main.dummyList">{{'lDummyList' | translate}}</a></li>
      <li ui-sref-active="active"><a ui-sref="root.bootstrap.main.dummyInsert">{{'lDummyInsert' | translate}}</a></li>
      <li ui-sref-active="active"><a ui-sref="root.bootstrap.welcome" ng-click="logout()">{{'lLogout' | translate}}</a></li>
    </ul>
  </div>
</nav>

<div id="dummy-list-tab-container" class="tab-content tabbable" sticky-state="root.bootstrap.main.dummyList" ng-hide="state.current.name !== 'root.bootstrap.main.dummyList'">
  <div ui-view="dummyListTab"></div>
</div>

<div id="dummy-insert-tab-container" class="tab-content tabbable" sticky-state="root.bootstrap.main.dummyInsert" ng-hide="state.current.name !== 'root.bootstrap.main.dummyInsert'">
  <div ui-view="dummyInsertTab"></div>
</div>
