<nav id="main-nav" class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <div class="navbar-brand"><a class="text-header"></a></div>
    </div>
    <ul class="nav navbar-nav navbar-center" >
      <li ui-sref-active="active"><a ui-sref="root.bootstrap.main">{{'lTest' +  test | translate}}</a></li>
    {{dummy}}
    </ul>
  </div>
</nav>

<div id="main-tab-container" class="tab-content tabbable" sticky-state="root.bootstrap.main.campaignslist" ng-hide="state.current.name !== 'root.bootstrap.main'">
  <div ui-view="campaigntab"></div>
</div>

<div class="tab-content" sticky-state="root.bootstrap.main.settings" ng-hide="state.current.name !== 'root.bootstrap.main'">
  <div ui-view="settingstab"></div>
</div>
