<form role="form">
    <nav id="main-nav" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand"></div>
            </div>
            <div class="login center-block">
                <a class="text-header"></a> <h1>{{'hSignUp' | translate}}</h1>
                <div class="form-group">
                    <label class="hidden" for="username">Username</label>
                    <input type="text" class="form-control" ng-model="user.username" id="username" placeholder="Username">
                </div>

                <div class="form-group">
                    <label class="hidden"  for="password">Password</label>
                    <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password">
                </div>

                <div class="form-group">
                    <label class="hidden" for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" ng-model="user.confirmPassword" placeholder="confirm password">
                </div>

                <button type="button" class="btn btn-default" ng-click="">{{'lSignUp' | translate}}</button>
            </div>
        </div>
    </nav>
</form>
