.dummy-element{
  color: $main
;
  cursor: pointer;
}

li.no-dummy{
  label{
    color: $main;
  }
}

.form-group{
  label{
  color: $white;
  }
}

#dummy-list-nav,
.navbar
.navbar-inverse{
  background: $white;
  border: none;
}