.dummy-element{
  color: $main
;
  cursor: pointer;
}

li.no-dummy{
  label{
    color: $main;
  }
}

.user-details{
  label{
    color:$white;
  }
}

.form-group{
  label{
  color: $white;
  }
}

.login{
  margin: 80px auto;
  width: 450px;
  background: #fafafa;
  border-radius: 5px;
  padding: 2%;
}

#dummy-list-nav,
.navbar
.navbar-inverse{
  background: $white;
  border: none;
}

.hidden{
  display: none;
}

.angular-float-labels-label {
  margin-top: 4%;
  position: absolute;
  left: 12px;
  top: -17px;
  font-variant: small-caps;
  text-transform: lowercase;
  display: none;
  color: #ccc;
  overflow: hidden;
  white-space: nowrap;
  max-width: 90%;
}

#main-nav.principal{
  background: $white;
}

@media only screen and (max-width: 799px){
  .login { width: 100%; }
}

.navbar-nav{
  li a:focus{
    background: none;
  }
  .user{
    position: relative;
    padding: 10px 40px 10px 60px;
    color: $main;
    text-align: left;
    cursor: pointer;
    &:hover{
      background: $secondary;
    }
    .initials{
      position: absolute;
      left: 10px;
      height: 40px;
      width: 40px;
      padding-top: 4px;
      background: $white;
      border: 2px solid $main;;
      border-radius: 20px;
      font-size: 18px;
      font-weight: bold;
      color: $main;
      text-align: center;
    }
    .name{
      font-weight: bold;
      color: $white;
    }
    .company{
      display: block;
      font-weight: normal;
      font-size: 12px;
    }
    i.fa-caret-down{
      position: absolute;
      right: 15px;
      top: 20px;
      color: $secondary;
      &:hover{
        background: $main;
      }
    }
  }
  .dropdown-menu{
    background: $main;
    border: none;
    border-radius: 0;
    margin: 0;
    li{
      a{
        color: #fff;
        &:hover{
          background: $secondary;
        }
      }
    }
  }

  #main-nav .navbar-nav .user i.fa-caret-down {
    position: absolute;
    right: 15px;
    top: 20px;
  }
}

.panel-primary {
  .panel-heading {
    color: $white;
    background-color: #5C6D73;
    border-color: $main;
  }
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #5C6D73;
}

 .widgetHeader {
  color: $white;
}

//NavBar
.navbar {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  text-align: center;
  > .container,
  > .container-fluid{
    height: inherit;
  }
  .navbar-header{
    position: absolute;
    height: inherit;
    top: 0;
    left: 0;
    .navbar-brand{
      margin: 0;
      height: inherit;
    }
  }
  .navbar-center {
    display: inline-block;
    border: 0;
    float: none;
    height: inherit;
  }
  .navbar-right{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    height: inherit;
  }
  .navbar-left{
    height: inherit;
  }
  .navbar-nav{
    > li{
      height: inherit;
      > a{
        height: inherit;
        display: table-cell;
        vertical-align: middle;
      }
      &.active{
        > a{
          background: none;
          font-weight: 700;
          border-bottom: 3px solid $primary;
          &:hover{
            background-color:$secondary;
          }
        }
      }
    }
  }
  &.navbar-inverse{
    background-color: $main;
  }
}

.days-of-season{
  background-color: $main;
  color: $white;
  li {
    cursor: pointer;
  }
}