.dummy-element{
  color: $main
;
  cursor: pointer;
}

li.no-dummy{
  label{
    color: $main;
  }
}

.user-details{
  label{
    color:$white;
  }
}

.form-group{
  label{
  color: $white;
  }
}

.login{
  margin: 80px auto;
  width: 450px;
  background: #fafafa;
  border-radius: 5px;
  padding: 2%;
}

#dummy-list-nav,
.navbar
.navbar-inverse{
  background: $white;
  border: none;
}

.hidden{
  display: none;
}

.angular-float-labels-label {
  margin-top: 4%;
  position: absolute;
  left: 12px;
  top: -17px;
  font-variant: small-caps;
  text-transform: lowercase;
  display: none;
  color: #ccc;
  overflow: hidden;
  white-space: nowrap;
  max-width: 90%;
}

#main-nav.principal{
  background: $white;
}

@media only screen and (max-width: 799px){
  .login { width: 100%; }
}

.navbar-nav{
  li a:focus{
    background: none;
  }
  .user{
    position: relative;
    padding: 10px 40px 10px 60px;
    color: #fff;
    text-align: left;
    cursor: pointer;
    &:hover{
      background: $black;
    }
    .initials{
      position: absolute;
      left: 10px;
      height: 40px;
      width: 40px;
      padding-top: 4px;
      background: #faae73;
      border: 2px solid #e79552;
      border-radius: 20px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      text-align: center;
    }
    .name{
      font-weight: bold;
    }
    .company{
      display: block;
      font-weight: normal;
      font-size: 12px;
    }
    i.fa-caret-down{
      position: absolute;
      right: 15px;
      top: 20px;
    }
  }
  .dropdown-menu{
    background: $lightBlack;
    border: none;
    border-radius: 0;
    margin: 0;
    li{
      a{
        color: #fff;
        &:hover{
          background: $black;
        }
      }
    }
  }

  #main-nav .navbar-nav .user i.fa-caret-down {
    position: absolute;
    right: 15px;
    top: 20px; }
}