$brand-primary: #C3631D;

$white:      #f2f0ee;

$lightGrey:  #eae7e5;
$grey:       #cac7c4;
$middleGrey: #a39d98;
$darkGrey:   #726e6a;

$lightBlack: #686460;
$black:      #4e4c49;
$darkBlack:  #030303;

$primary:     #faae73;
$darkPrimary: #e79552;
$lightBlue:   #BBE1ED;

$action:      #6dc5db;
$darkAction:  #2ca1ce;

$delete:      #F21111;
$darkDelete:  #B50000;

$sidebar:    #D1DEE8;

$danger:     #a94442;

$selected:   #FFF3D7;
$unread:     #f7e5df;

$input-border: $grey;