<nav id="main-nav" class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">hHome</a>
    </div>
</nav>
<form role="form">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" ng-model="user.username" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default" ng-click="login()">Log in</button>
</form>
</div>






