  <nav id="main-nav" class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="root.bootstrap.main.controlPanel">Project name</a>
        <ul class="nav navbar-nav" >
          <li ui-sref-active="active">
            <a ui-sref="root.bootstrap.main.season">{{'lSeason' | translate}}</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="root.bootstrap.main">{{'lNews' | translate}}</a>
          </li>
        </ul>

      </div>
      <ul class="nav navbar-nav navbar-right" >
        <li class="user dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="initials">{{initials}}</span>
          <span class="name">{{user.name}} {{user.surname}}</span>
          <span class="company"></span>
          <i class="fa fa-caret-down"></i>
        </li>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a ui-sref="root.bootstrap.main.settings">{{'settings' | translate}}</a></li>
          <li><a ui-sref="root.bootstrap.welcome" ng-click="logout()">{{'lLogout' | translate}}</a></li>
        </ul>
      </ul>
    </div>
  </nav>

<div id="login-tab-container" class="tab-content tabbable" sticky-state="root.bootstrap.welcome.login" ng-hide="state.current.name !== 'root.bootstrap.welcome.login'">
  <div ui-view="loginTab"></div>
</div>

<div id="register-tab-container" class="tab-content tabbable" sticky-state="root.bootstrap.welcome.register" ng-hide="state.current.name !== 'root.bootstrap.welcome.register'">
  <div ui-view="registerTab"></div>
</div>