<form role="form">
    <nav id="main-nav" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand"></div>
            </div>
            <div class="login center-block">
                <a class="text-header"></a> <h1>CleFra App</h1>
                <div class="form-group">
                    <label class="hidden" for="username">Username</label>
                    <input type="text" class="form-control" ng-model="user.username" id="username" placeholder="Username">
                </div>

                <div class="form-group">
                    <label class="hidden"  for="password">Password</label>
                    <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password">
                </div>
                <button type="button" class="btn btn-default" ng-click="login()">{{'lLogin' | translate}}</button>
                <a ui-sref="signup()">{{'lSignUp' | translate}}</a>
                <span>{{failedLogin}}</span>
            </div>
        </div>
    </nav>
</form>
