<form>
    <nav id="main-nav" class="navbar navbar-inverse principal">
        <div id="wizardSteps" class="container-fluid">
            <div class="col-sm-3 sidebar hidden">
                <ul class="nav nav-sidebar hidden">
                    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
                <ul class="nav nav-sidebar hidden">
                    <li><a href="">Logout</a></li>
                </ul>
            </div>

            <div class="col-sm-10 main col-sm-offset-1">
                <h1 class="page-header">Colpo d'occhio</h1>

                <div class="row placeholders">
                    <div class="col-xs-6 col-sm-4 placeholder">

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="widgetHeader">Ultime partite</h4>
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <span>A</span>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <span>0-0</span>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <span>B</span>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Mostra tutte</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 placeholder">

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="widgetHeader">Ultima giornata</h4>
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <span>A</span>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <span>0-0</span>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <span>B</span>
                                    </div>
                                </div>
                            </div>
                            <a ui-sref="root.bootstrap.main.season">
                                <div class="panel-footer">
                                    <span class="pull-left">Mostra tutte</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 placeholder">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="widgetHeader">Crediti</h4>
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <span>{{user.credits}}</span>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Maggiori informazioni</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 placeholder">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="widgetHeader">Ultime notizie</h4>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique hendrerit pharetra. Integer nec semper nisl. Donec venenatis dolor neque, non laoreet odio sollicitudin vitae. Sed tempus metus tellus, eu lobortis enim auctor et. Duis commodo eleifend risus, in efficitur eros tristique nec. Cras id turpis vitae tortor euismod tempor euismod vel nisi. Cras suscipit, lacus at rutrum dignissim, urna lectus commodo massa, ac vulputate sem nibh at mauris.</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique hendrerit pharetra. Integer nec semper nisl. Donec venenatis dolor neque, non laoreet odio sollicitudin vitae. Sed tempus metus tellus, eu lobortis enim auctor et. Duis commodo eleifend risus, in efficitur eros tristique nec. Cras id turpis vitae tortor euismod tempor euismod vel nisi. Cras suscipit, lacus at rutrum dignissim, urna lectus commodo massa, ac vulputate sem nibh at mauris.</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique hendrerit pharetra. Integer nec semper nisl. Donec venenatis dolor neque, non laoreet odio sollicitudin vitae. Sed tempus metus tellus, eu lobortis enim auctor et. Duis commodo eleifend risus, in efficitur eros tristique nec. Cras id turpis vitae tortor euismod tempor euismod vel nisi. Cras suscipit, lacus at rutrum dignissim, urna lectus commodo massa, ac vulputate sem nibh at mauris.</span>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Mostra tutte</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>
</form>